<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JBChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SleepBusters.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF03F9A01BC9215C002ADF4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF1834981BBFA9E100EBDFCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF1834AE1BBFA9E100EBDFCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF1834B91BBFA9E100EBDFCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
